<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% capture title %}
          {% if page.title %}
            {{ page.title }}
          {% else %}
            {{ 'Alex Okolish' }}
          {% endif %}
        {% endcapture %}
        <title>{{title}}</title>
        {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
        <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="XA5dKuI49RXTWn5RxMyobOXEGgB6NjrbvtMFR30zbsY" />
        {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Signika+Negative:400,700|Noto+Serif:400,700|Sansita+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/base.css">
    </head>
    <body>
      <header>
        <div class="container">
          <h1><a href="/">aokolish</a></h1>
          <div id="header-nav">
            <ul class="main-menu">
              <li><a href="/about/">About</a></li>
              <li><a href="/">Blog</a></li>
            </ul>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="aokolish">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
        </div>
      </header>

      <div class="container">
        {{ content }}
      </div>

      <footer>
        <div class="container">
          {% unless page.url == "/archive/index.html" %}
            <div class="recent-posts">
              <h2>Recent Posts</h2>
              {% for post in site.posts limit: 5 %}
              <a class="post-link" href="{{ post.url }}">
                <p class="post">{{ post.title }}
                  <span class="post-date">{{ post.date | date: "%B %e, %Y"}}</span>
                </p>
              </a>
              {% endfor %}
              <p><a class="all-posts" href="/archive/">All posts</a></p>
            </div>
            <hr>
          {% endunless %}
          <p class="social">
            <a href="https://twitter.com/aokolish" target="_blank">
              <i class="icon-twitter"></i>
              <span>Follow me</span>
            </a>
            <a href="https://github.com/aokolish" target="_blank">
              <i class="icon-github"></i>
              <span>Check out my code</span>
            </a>
            <a href="mailto:alex.okolish@gmail.com">
              <i class="icon-envelope"></i>
              <span>Email me</span>
            </a>
          </p>
        </div>
      </footer>

      <script>
          var _gaq=[['_setAccount','UA-27939733-1'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src='//www.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>
    </body>
</html>
